.list {
	list-style: none;
	li {
      display: flex;
      cursor: pointer;
      margin-bottom: 15px;
      transition: .3s;
      &:hover {
        transform: translateX(10px);
      }
      mark {
        content:"";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: block;
        margin-right: 10px;
      }
    }
}

.-disabled {
  pointer-events: none;
}